*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Agregamos esttilos al body*/
body{
   background: #343c4f;
}

header{
    background: #c271f7;
    width: 100%;
    clear: both;
    content: '';
    display: table;
}


.Menu{
    width: 900px;
    margin: 0 auto;
}

.logo{
    width: 130px;
    height: 85px;
    float: left;
    padding: 7px;
}


nav{
    float: right;
}

nav ul li{
    list-style: none;
    margin-left: 125px;
    padding: 13px 0;
    float: left;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: #343c4f;
    font-weight: bold;
}

nav ul li a::before{
    display: block;
    content: '';
    width: 0%;
    background: #343c4f;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.2s;
}

nav ul li a:hover:before{
    width: 100%;
}

p{
    text-align: justify;
    font-family: "Arsenal SC", sans-serif;
    font-size: 20px;
}

h1{
    font-family: "Pacifico", cursive;
    color: black;
}

h3{
    font-family: "Bona Nova SC", serif;
}

/*Cambiar tamaños de imagenes por class*/

.Rap{
    width: 560px;
    height: 560px;
    margin: 30px;
    border-style: double;
    border-color: #c271f7;
    border-radius: 60px;
    margin: 40px;
    
}

.Vocal{
    width: 550px;
    height: 550px;
    margin: 40px;
    border-style: double;
    border-color: #c271f7;
    border-radius: 40px;
}

h4{
    font-family: "Henny Penny", system-ui;
}

ol li{
    font-family: "Edu AU VIC WA NT Hand", cursive;
}

ul li{
    font-family: "Edu AU VIC WA NT Hand", cursive;
}

form{
    background-color: #f3d5aa;
    height: 70px;
}

footer{
    background-color: #c271f7;
    height: 50px;
}